.navigation {
    background: #003366;
  }
  
  .navigation ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navigation li {
    margin: 0 15px;
  }
  
  .navigation a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
  }
  
  .navigation a.active {
    border-bottom: 2px solid #fff;
  }
  
  .navigation a:hover {
    color: #00A6FB; /* Change color on hover */
  }
  