.aboutme {
    text-align: center;
    padding: 20px;
    margin-top: 50px; /* Adjust this value as needed */
  }  
  
  .profile-photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: contain;
    margin: 50px auto;
  }
  
  /* Add the responsive design enhancements below */
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) { 
    .aboutme p {
      font-size: 18px;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) { 
    .aboutme {
      padding: 40px;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    .aboutme {
      display: flex;
      justify-content: center;
      text-align: left;
    }
    .profile-photo {
      margin-right: 20px;
    }
  }
  